body {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1fr;
}
#container {
    display: grid;
    border: 2px black solid;
    height: 500px;
    width: 500px;
}
.color {
    background-color: grey;
}
.btn {
    background-color: black;
    color: white;
    font-size: medium;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}
